body{
	background-color: lightgrey;
}

h1{
	color: black;
}

#oneImage{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}



.pageNav{
		text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

footer{
	
	height: 25%;
	width: 90%;
	//background-color: grey;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
		background: -moz-linear-gradient(left, rgba(46,234,209,0) 0%, rgba(46,234,209,0.8) 10%, rgba(46,234,209,1) 26%, rgba(69,234,44,1) 50%, rgba(46,234,209,1) 74%, rgba(46,234,209,0.8) 90%, rgba(46,234,209,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,234,209,0)), color-stop(10%,rgba(46,234,209,0.8)), color-stop(26%,rgba(46,234,209,1)), color-stop(50%,rgba(69,234,44,1)), color-stop(74%,rgba(46,234,209,1)), color-stop(90%,rgba(46,234,209,0.8)), color-stop(100%,rgba(46,234,209,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(46,234,209,0) 0%,rgba(46,234,209,0.8) 10%,rgba(46,234,209,1) 26%,rgba(69,234,44,1) 50%,rgba(46,234,209,1) 74%,rgba(46,234,209,0.8) 90%,rgba(46,234,209,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(46,234,209,0) 0%,rgba(46,234,209,0.8) 10%,rgba(46,234,209,1) 26%,rgba(69,234,44,1) 50%,rgba(46,234,209,1) 74%,rgba(46,234,209,0.8) 90%,rgba(46,234,209,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(46,234,209,0) 0%,rgba(46,234,209,0.8) 10%,rgba(46,234,209,1) 26%,rgba(69,234,44,1) 50%,rgba(46,234,209,1) 74%,rgba(46,234,209,0.8) 90%,rgba(46,234,209,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(46,234,209,0) 0%,rgba(46,234,209,0.8) 10%,rgba(46,234,209,1) 26%,rgba(69,234,44,1) 50%,rgba(46,234,209,1) 74%,rgba(46,234,209,0.8) 90%,rgba(46,234,209,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002eead1', endColorstr='#002eead1',GradientType=1 ); /* IE6-9 */
}

header {
	
	height: 25%;
	width: 90%;
	//background-color: grey;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	

		background: -moz-linear-gradient(left, rgba(158,252,50,0) 0%, rgba(158,252,50,0.8) 10%, rgba(158,252,50,1) 26%, rgba(69,234,44,1) 50%, rgba(158,252,50,1) 74%, rgba(158,252,50,0.8) 90%, rgba(158,252,50,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(158,252,50,0)), color-stop(10%,rgba(158,252,50,0.8)), color-stop(26%,rgba(158,252,50,1)), color-stop(50%,rgba(69,234,44,1)), color-stop(74%,rgba(158,252,50,1)), color-stop(90%,rgba(158,252,50,0.8)), color-stop(100%,rgba(158,252,50,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009efc32', endColorstr='#009efc32',GradientType=1 ); /* IE6-9 */
}

#content{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align:center;
	word-wrap: break-word;
		background: -moz-linear-gradient(left, rgba(158,252,50,0) 0%, rgba(158,252,50,0.8) 10%, rgba(158,252,50,1) 26%, rgba(69,234,44,1) 50%, rgba(158,252,50,1) 74%, rgba(158,252,50,0.8) 90%, rgba(158,252,50,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(158,252,50,0)), color-stop(10%,rgba(158,252,50,0.8)), color-stop(26%,rgba(158,252,50,1)), color-stop(50%,rgba(69,234,44,1)), color-stop(74%,rgba(158,252,50,1)), color-stop(90%,rgba(158,252,50,0.8)), color-stop(100%,rgba(158,252,50,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(158,252,50,0) 0%,rgba(158,252,50,0.8) 10%,rgba(158,252,50,1) 26%,rgba(69,234,44,1) 50%,rgba(158,252,50,1) 74%,rgba(158,252,50,0.8) 90%,rgba(158,252,50,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009efc32', endColorstr='#009efc32',GradientType=1 ); /* IE6-9 */
}

#commentField{
	text-align:center;
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

#CommentBox {
	
	
}

#commenttag p {
	margin: 3%;
	width: 60%;
	word-wrap: break-word;
}
.comments{
	
}
#comments {
	border-radius: 5px;
	
	margin-left: auto;
	margin-right: auto;
	width:70%;
	
	background-color: white;
}
#galleryDiv {
	text-align:center;
}
.gallerypics{
	display: inline;
	
	height:auto;
	margin: 5%;
    text-align:center;
  
    
}
.gallerypics img{
	
	display: inline-block;
	width:200px;
	max-height: 133px;
   background-color:white;
   padding:0.5%;
   padding-bottom: 1.5%;
 
   

    
}

